@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=IBM+Plex+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.searchBar {
	background-color: rgb(174, 14, 14);
	height: 8vh;
	padding: 1rem 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.searchHeader {
		color: rgb(225, 210, 210);
		font-family: "Roboto", sans-serif;
		font-size: 2.5rem;
		font-weight: 800;
	}

	.inputContainer {
		padding: 0rem 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		.inputBox {
			outline: none;
			border: none;
			padding: 0.5rem 1rem;
			font-family: "IBM Plex Mono", monospace;
			font-size: 1rem;
			font-weight: 500;
			width: 30vw;
		}
	}
}
