.comic-pagination {
	margin-top: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	width: 830px;
	gap: 10px;
}

.comic-pagination li {
	display: flex;
	padding: 2px 8px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #0f0f0f;
	cursor: pointer;
}

.comic-pagination li.active {
	background: #f8f8f8;
	color: #0f0f0f;
}

.comic-pagination li a {
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: var(--Main-White, #f8f8f8);
}

.comic-pagination li.active a {
	color: #0f0f0f;
}

.comic-pagination li.disabled a {
	display: none;
}

.comic-pagination li.next a,
.comic-pagination li.previous a {
	font-size: 24px;
}
